<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="BaseUrl" value="http://122.112.168.32:729/api/"/>
    <add key="IdpBaseUrl" value="http://122.112.168.32:729/idp/"/>
    <!--order-->
    <add key="OrderQueryOrderListUrl" value="Order/QueryOrderList" />
    <add key="OrderQueryOrderListARUrl" value="Order/QueryOrderListAR" />
    <add key="OrderQueryOrderByIdUrl" value="Order/QueryOrderById" />
    <add key="QueryOrderUrl" value="Order/QueryOrder" />
    <add key="QueryOrderByServiceNoUrl" value="Order/QueryOrderByServiceNo" />
    <add key="QueryOrderExistUrl" value="Order/Exist" />
    <add key="QueryOrderExistListUrl" value="Order/ExistList" />
    <add key="OrderAddOrderUrl" value="Order/AddOrder" />
    <add key="OrderAddOrdersUrl" value="Order/AddOrders" />
    <add key="OrderUpdateOrderUrl" value="Order/UpdateOrder" />
    <add key="OrderUpdateOrdersUrl" value="Order/UpdateOrders" />

    <!--orderGoods-->
    <add key="OrderGoodsQueryOrderGoodsListUrl" value="OrderGoods/QueryOrderGoodsList" />
    <add key="OrderGoodsQueryOrderGoodsUrl" value="OrderGoods/QueryOrderGoods" />
    <add key="OrderGoodsAddGoodsUrl" value="OrderGoods/AddGoods" />
    <add key="OrderGoodsAddGoodsListUrl" value="OrderGoods/AddGoodsList" />
    <add key="OrderGoodsUpdateGoodsUrl" value="OrderGoods/UpdateGoods" />
    <add key="OrderGoodsUpdateGoodsListUrl" value="OrderGoods/UpdateGoodsList" />
    <add key="OrderGoodsDeleteGoodsUrl" value="OrderGoods/DeleteGoods" />
    <add key="OrderGoodsDeleteGoodsListUrl" value="OrderGoods/DeleteGoodsList" />
    <!--bag-->
    <add key="BagQueryBagListUrl" value="PackBag/QueryBagList" />
    <add key="BagQueryBagUrl" value="PackBag/QueryBag" />
    <add key="BagAddBagUrl" value="PackBag/AddBag" />
    <add key="BagUpdateBagUrl" value="PackBag/UpdateBag" />
    <add key="BagDeleteBagUrl" value="PackBag/DeleteBag" />
    <add key="BagAutoAddBagUrl" value="PackBag/AutoAddBag" />
    <!--arrivalBill-->
    <add key="ArrivalBillQueryArrivalBillListUrl" value="ArrivalBill/QueryArrivalBillList" />
    <add key="ArrivalBillQueryArrivalBillListByNoUrl" value="ArrivalBill/QueryArrivalBillListByNo" />
    <add key="ArrivalBillQueryArrivalBillUrl" value="ArrivalBill/QueryArrivalBill" />
    <add key="ArrivalBillAddArrivalBillUrl" value="ArrivalBill/AddArrivalBill" />
    <add key="ArrivalBillUpdateArrivalBillUrl" value="ArrivalBill/UpdateArrivalBill" />
    <add key="ArrivalBillDeleteArrivalBillUrl" value="ArrivalBill/DeleteArrivalBill" />
    <!--outBill-->
    <add key="OutBillQueryOutBillListUrl" value="OutBill/QueryOutBillListV2" />
    <add key="OutBillQueryOutBillListByNoUrl" value="OutBill/QueryOutBillListByNo" />
    <add key="OutBillQueryOutBillUrl" value="OutBill/QueryOutBill" />
    <add key="OutBillAddOutBillUrl" value="OutBill/AddOutBill" />
    <add key="OutBillUpdateOutBillUrl" value="OutBill/UpdateOutBill" />
    <add key="OutBillDeleteOutBillUrl" value="OutBill/DeleteOutBill" />
    <!--transBill-->
    <add key="TransBillQueryTransBillListUrl" value="TransBill/QueryTransBillList" />
    <add key="TransBillQueryTransBillListByNoUrl" value="TransBill/QueryTransBillListByNo" />
    <add key="TransBillQueryTransBillUrl" value="TransBill/QueryTransBill" />
    <add key="TransBillAddTransBillUrl" value="TransBill/AddTransBill" />
    <add key="TransBillUpdateTransBillUrl" value="TransBill/UpdateTransBill" />
    <add key="TransBillDeleteTransBillUrl" value="TransBill/DeleteTransBill" />
    <!--customer-->
    <add key="CustomerQueryListUrl" value="Customer/QueryList" />
    <add key="CustomerQueryCustomerUrl" value="Customer/QueryCustomer" />
    <add key="CustomerAddCustomerUrl" value="Customer/AddCustomer" />
    <add key="CustomerAddCustomersUrl" value="Customer/AddCustomers" />
    <add key="CustomerUpdateCustomerUrl" value="Customer/UpdateCustomer" />
    <add key="CustomerUpdateCustomerFeeUrl" value="Customer/UpdateCustomerAmount" />
    <!--<add key="CustomerGetLableUrl" value="Customer/CustomerAPI/GetLable"/>-->
    <add key="CustomerGetLableUrl" value="Customer/CustomerAPI/GetLable?ServiceKey=CustomerAPI"/>
    <add key="CustomerUpdateCustomerKindUrl" value="Customer/UpdateCustomerKind"/>

    <!--CustomerAddress-->
    <!--获取客户地址信息列表 keyWord =客户四位数代码  pageSize =  一页显示多少行   pageIndex = 当前页码-->
    <add key="GetParamsList" value="Params/QueryList?ServiceKey=CustomerAddress"/>
    <!--根据ID获取一条地址信息  id = 主键ID-->
    <add key="GetParamsAddress" value="Params/QueryParam?ServiceKey=CustomerAddress"/>
    <!--修改客户地址信息    paramString = 编辑参数的json字符串，必须含有主键id值-->
    <add key="UpdateParamsAddress" value="Params/UpdateParam?ServiceKey=CustomerAddress"/>
    <!--删除客户地址信息  id = 主键ID-->
    <add key="DeleteParams" value="Params/DeleteParam?ServiceKey=CustomerAddress"/>
    <!--新增客户地址信息 paramString = 编辑参数的json字符串，必须含有主键id值-->
    <add key="AddParamsAddress" value="Params/AddParam?ServiceKey=CustomerAddress"/>

    <!--<add key="CustomerGetLableUrl" value="Customer/CustomerAPI/GetLable"/>-->
    <add key="CustomerGetLableUrl" value="Customer/CustomerAPI/GetLable?ServiceKey=CustomerAPI"/>
    <add key="CustomerUpdateCustomerKindUrl" value="Customer/UpdateCustomerKind"/>
    <!--SysUserInfo-->
    <add key="SysUserInfoAddUserUrl" value="User/AddUser"/>
    <add key="SysUserInfoUpdateUserUrl" value="User/UpdateUser"/>
    <add key="SysUserInfoQueryUserByIDUrl" value="User/QueryUserByID"/>
    <add key="SysUserInfoQueryUserByNameUrl" value="User/QueryUserByName"/>
    <!--UserRoleMap-->
    <add key="UserRoleMapAddUserRoleUrl" value="User/AuthorizeRole"/>
    <!--serviceChannel-->
    <add key="ServiceChannelQueryListUrl" value="ServiceChannel/QueryList" />
    <add key="ServiceChannelQueryServiceChannelUrl" value="ServiceChannel/QueryServiceChannel" />
    <add key="ServiceChannelAddServiceChannelUrl" value="ServiceChannel/AddServiceChannel" />
    <add key="ServiceChannelAddServiceChannelsUrl" value="ServiceChannel/AddServiceChannels" />
    <add key="ServiceChannelUpdateServiceChannelUrl" value="ServiceChannel/UpdateServiceChannel" />
    <!--serviceProvider-->
    <add key="ServiceProviderUrl" value="ServiceProvider/QueryAllServiceProvider" />
    <add key="ServiceProviderQueryListUrl" value="ServiceProvider/QueryList" />
    <add key="ServiceProviderQueryServiceProviderUrl" value="ServiceProvider/QueryServiceProvider" />
    <add key="ServiceProviderAddServiceProviderUrl" value="ServiceProvider/AddServiceProvider" />
    <add key="ServiceProviderAddServiceProvidersUrl" value="ServiceProvider/AddServiceProviders" />
    <add key="ServiceProviderUpdateServiceProviderUrl" value="ServiceProvider/UpdateServiceProvider" />
    <!--serviceProduct-->
    <add key="ServiceProductQueryListUrl" value="ServiceProduct/QueryList" />
    <add key="ServiceProductQueryServiceProductUrl" value="ServiceProduct/QueryServiceProduct" />
    <add key="ServiceProductAddServiceProductUrl" value="ServiceProduct/AddServiceProduct" />
    <add key="ServiceProductAddServiceProductsUrl" value="ServiceProduct/AddServiceProducts" />
    <add key="ServiceProductUpdateServiceProductUrl" value="ServiceProduct/UpdateServiceProduct" />
    <!--orderLogger-->
    <add key="OrderLoggerQueryLoggerListUrl" value="OrderLogger/QueryLoggerList" />
    <add key="OrderLoggerAddLoggerUrl" value="OrderLogger/AddLogger" />
    <add key="OrderLoggerAddLoggersUrl" value="OrderLogger/AddLoggers" />
    <add key="OrderLoggerUpdateLoggerUrl" value="OrderLogger/UpdateLogger" />
    <add key="OrderLoggerUpdateLoggersUrl" value="OrderLogger/UpdateLoggers" />
    <add key="OrderLoggerDeleteLoggerUrl" value="OrderLogger/DeleteLogger" />
    <!--bagLogger-->
    <add key="BagLoggerQueryLoggerListUrl" value="BagLogger/QueryLoggerList" />
    <add key="BagLoggerAddLoggerUrl" value="BagLogger/AddLogger" />
    <add key="BagLoggerAddLoggersUrl" value="BagLogger/AddLoggers" />
    <add key="BagLoggerUpdateLoggerUrl" value="BagLogger/UpdateLogger" />
    <add key="BagLoggerUpdateLoggersUrl" value="BagLogger/UpdateLoggers" />
    <add key="BagLoggerDeleteLoggerUrl" value="BagLogger/DeleteLogger" />
    <!--billLogger-->
    <add key="BillLoggerQueryLoggerListUrl" value="BillLogger/QueryLoggerList" />
    <add key="BillLoggerAddLoggerUrl" value="BillLogger/AddLogger" />
    <add key="BillLoggerAddLoggersUrl" value="BillLogger/AddLoggers" />
    <add key="BillLoggerUpdateLoggerUrl" value="BillLogger/UpdateLogger" />
    <add key="BillLoggerUpdateLoggersUrl" value="BillLogger/UpdateLoggers" />
    <add key="BillLoggerDeleteLoggerUrl" value="BillLogger/DeleteLogger" />
    <!--errorLogger-->
    <add key="ErrorLoggerQueryLoggerListUrl" value="ErrorLogger/QueryLoggerList" />
    <add key="ErrorLoggerAddLoggerUrl" value="ErrorLogger/AddLogger" />
    <add key="ErrorLoggerAddLoggersUrl" value="ErrorLogger/AddLoggers" />
    <add key="ErrorLoggerUpdateLoggerUrl" value="ErrorLogger/UpdateLogger" />
    <add key="ErrorLoggerUpdateLoggersUrl" value="ErrorLogger/UpdateLoggers" />
    <add key="ErrorLoggerDeleteLoggerUrl" value="ErrorLogger/DeleteLogger" />
    <!--costPrice-->
    <add key="CostPriceQueryPricesUrl" value="CostPrice/QueryPrices" />
    <add key="CostPriceQueryPriceUrl" value="CostPrice/QueryPrice" />
    <add key="CostPriceQueryCalcPriceUrl" value="CostPrice/QueryCalcPrice" />
    <add key="CostPriceAddPriceUrl" value="CostPrice/AddPrice" />
    <add key="CostPriceUpdatePriceUrl" value="CostPrice/UpdatePrice" />
    <!--publishPrice-->
    <add key="PublishPriceQueryPricesUrl" value="PublishPrice/QueryPrices" />
    <add key="PublishPriceQueryPriceUrl" value="PublishPrice/QueryPrice" />
    <add key="PublishPriceQueryCalcPriceUrl" value="PublishPrice/QueryCalcPrice" />
    <add key="PublishPriceAddPriceUrl" value="PublishPrice/AddPrice" />
    <add key="PublishPriceUpdatePriceUrl" value="PublishPrice/UpdatePrice" />
    <!--salePrice-->
    <add key="SalePriceQueryPricesUrl" value="SalePrice/QueryPrices" />
    <add key="SalePriceQueryPriceUrl" value="SalePrice/QueryPrice" />
    <add key="SalePriceQueryCalcPriceUrl" value="SalePrice/QueryCalcPrice" />
    <add key="SalePriceAddPriceUrl" value="SalePrice/AddPrice" />
    <add key="SalePriceUpdatePriceUrl" value="SalePrice/UpdatePrice" />
    <!--weightPlan-->
    <add key="WeightPlanQueryListUrl" value="WeightPlan/QueryList" />
    <add key="WeightPlanQueryPLanByIdUrl" value="WeightPlan/QueryPLanById" />
    <add key="WeightPlanQueryPLanDetailByIdUrl" value="WeightPlan/QueryPLanDetailById" />
    <add key="WeightPlanAddPlanUrl" value="WeightPlan/AddPlan" />
    <add key="WeightPlanUpdatePlanUrl" value="WeightPlan/UpdatePlan" />
    <add key="WeightPlanDeletePlanUrl" value="WeightPlan/DeletePlan" />
    <!--zonePlan-->
    <add key="ZonePlanQueryListUrl" value="ZonePlan/QueryList" />
    <add key="ZonePlanQueryPLanByIdUrl" value="ZonePlan/QueryPLanById" />
    <add key="ZonePlanQueryPLanDetailByIdUrl" value="ZonePlan/QueryPLanDetailById" />
    <add key="ZonePlanAddPlanUrl" value="ZonePlan/AddPlan" />
    <add key="ZonePlanUpdatePlanUrl" value="ZonePlan/UpdatePlan" />
    <add key="ZonePlanDeletePlanUrl" value="ZonePlan/DeletePlan" />
    <!--price-->
    <add key="PriceQueryPricesUrl" value="Price/QueryPrices" />
    <add key="PriceQueryPriceUrl" value="Price/QueryPrice" />
    <add key="PriceQueryCalcPriceUrl" value="Price/QueryCalcPrice" />
    <add key="PricePreLoadPricesUrl" value="Price/PreLoadPrices" />
    <add key="PriceCalePriceUrl" value="Price/CalePrice" />
    <add key="PriceAddPriceUrl" value="Price/AddPrice" />
    <add key="PriceUpdatePriceUrl" value="Price/UpdatePrice" />
    <add key="PriceDeletePriceUrl" value="Price/DeletePrice" />
    <add key="PriceAddZoneUrl" value="Price/AddZone" />
    <add key="PriceUpdatePriceStatusUrl" value="Price/UpdatePriceStatus" />
    <add key="PriceUpdateZoneUrl" value="Price/UpdateZone" />
    <add key="PriceUpdateZoneStatusUrl" value="Price/UpdateZoneStatus" />
    <add key="AgreePriceQueryPricesUrl" value="AgreePrice/QueryPrices" />
    <add key="AgreePriceQueryPriceUrl" value="AgreePrice/QueryPrice" />
    <add key="PriceExistPriceUrl" value="Price/ExistPrice" />

    <!-- discount -->
    <add key="DiscountPriceQueryPricesUrl" value="DiscountPrice/QueryPrices" />
    <add key="DiscountPriceQueryPriceUrl" value="DiscountPrice/QueryPrice" />

    <!--Param-->
    <add key="ParamQueryCountryListUrl" value="Param/QueryCountryList" />
    <add key="ParamCustomerKindListUrl" value="Params/QueryList?ServiceKey=CustomerKind"/>
    <add key="ParamCustomerKindAddUrl" value="Params/AddParam?ServiceKey=CustomerKind"/>
    <add key="ParamCustomerKindUpdateUrl" value="Params/UpdateParam?ServiceKey=CustomerKind"/>
    <add key="ParamCustomerKindDeleteUrl" value="Params/DeleteParam?ServiceKey=CustomerKind"/>

    <!--provider-->
    <add key="ProviderCreateAndPreAlertOrderListServiceUrl" value="ProviderAPI/CreateAndPreAlertOrderListService" />
    <add key="ProviderCreateAndPreAlertOrderServiceUrl" value="ProviderAPI/CreateAndPreAlertOrderService" />
    <add key="ProviderCancelOrderServiceUrl" value="ProviderAPI/CancelOrderService" />
    <add key="ProviderModifiyOrderWeightServiceUrl" value="ProviderAPI/ModifiyOrderWeightService" />
    <add key="ProviderGetLabelUrl" value="ProviderAPI/GetLabel" />
    <add key="ProviderGetLabelPrintUrl" value="ProviderAPI/GetLabelPrint?ServiceKey=ProviderAPI" />

    <add key="ProviderOrderTransportationUrl" value="ProviderAPI/OrderTransportation" />
    <!--<add key="ProviderListOrderTransportationUrl" value="Provider/ProviderAPI/ListOrderTransportation" />-->
    <add key="ProviderOrderDeliveryIsYesUrl" value="ProviderAPI/OrderDeliveryIsYes" />
    <add key="ProviderQueryOrderUrl" value="ProviderAPI/QueryOrder" />
    <add key="ProviderQueryOrderRouteUrl" value="ProviderAPI/QueryOrderRoute" />
    <add key="ProviderPutinStorageUrl" value="ProviderAPI/PutinStorage?ServiceKey=DHLEC" />
    <add key="ProviderListOrderTransportationUrl" value="ProviderAPI/ListOrderTransportation" />
    <!--bill-->
    <add key="BillQueryBillDetailListUrl" value="PayBill/QueryBillDetailList" />
    <add key="BillAddBillDetailUrl" value="PayBill/AddBillDetail" />
    <add key="BillAddBillDetailListUrl" value="PayBill/AddBillDetailList" />
    <add key="BillDeleteBillDetailUrl" value="PayBill/DeleteBillDetail" />

    <!--PayOutBill-->
    <add key="PayOutBillQueryBillDetailListUrl" value="PayOutBill/QueryBillDetailList" />
    <add key="PayOutBillAddBillDetailUrl" value="PayOutBill/AddBillDetail" />
    <add key="PayOutBillAddBillDetailListUrl" value="PayOutBill/AddBillDetailList" />
    <add key="PayOutBillUpdateBillDetailUrl" value="PayOutBill/UpdateBillDetail" />
    <add key="PayOutBillUpdateBillDetailListUrl" value="PayOutBill/UpdateBillDetailList" />
    <add key="PayOutBillUpdateBillNoUrl" value="PayOutBill/UpdateBillNo" />
    <add key="PayOutBillWriteOffUrl" value="PayOutBill/WriteOff" />
    <add key="PayOutBillDeleteBillDetailUrl" value="PayOutBill/DeleteBillDetail" />

    <!--Login-->
    <add key="LoginUrl" value="User/Login" />

    <add key="PortName" value="COM3" />
    <add key="BaudRate" value="9600" />
    <add key="DefaultHours" value="08:00:00"/>
    <add key="Download_Dic" value="D:/亚翔TMS/orderLabel/" />
    
  </appSettings>
</configuration>