<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="BaseUrl" value="http://122.112.168.32:729/api/"/>
    <add key="IdpBaseUrl" value="http://122.112.168.32:729/idp/"/>
    <!--Login-->
    <add key ="LoginUrl" value="User/Login"/>
  </appSettings>
</configuration>